@using System.Linq
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using TherapyQualityController.Models
@model TherapyQualityController.Models.ViewModels.QuestionnaireViewModel

@{
    ViewData["Title"] = "Index";
}

@if (!(Model is null))
{

    <h1>@Model.Name</h1>

    <div class="container">
        <div class="row">
            <h3>Liczba pytań: @Model.Fields.Count.ToString()</h3>
        </div>
        <hr>
        <div class="row" id="answers">
            <form asp-action="SendAnswers" method="post">
                @foreach (var item in Model.Fields)
                {

                    <div class="media">

                        <div class="media-body">

                            <div>
                                <h5 class="mt-0">@item.Question</h5>
                            </div>

                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name=@($"opt{item.Count.ToString()}") id="inlineRadio" value=@($"{item.QuestionId},1")>
                                    <label class="form-check-label" for="inlineRadio">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name=@($"opt{item.Count.ToString()}") id="inlineRadio" value=@($"{item.QuestionId},2")>
                                    <label class="form-check-label" for="inlineRadio">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name=@($"opt{item.Count.ToString()}") id="inlineRadio" value=@($"{item.QuestionId},3")>
                                    <label class="form-check-label" for="inlineRadio">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name=@($"opt{item.Count.ToString()}") id="inlineRadio" value=@($"{item.QuestionId},4")>
                                    <label class="form-check-label" for="inlineRadio">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name=@($"opt{item.Count.ToString()}") id="inlineRadio" value=@($"{item.QuestionId},5")>
                                    <label class="form-check-label" for="inlineRadio">5</label>
                                </div>
                            </div>

                        </div>

                    </div>
                    <hr>
                }
                <button id="sendBtn" class="btn btn-dark btn-lg" type="submit" name="count" value=@Model.Fields.Count style="margin-top: 10px; color: white;">Prześlij</button>
            </form>
        </div>

    </div>

}
else
{
    <h2>Wygląda na to że nie masz żadnych ankiet do wypełnienia!</h2>
}
