@using System.Linq
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using TherapyQualityController.Models
@model TherapyQualityController.Models.ViewModels.QuestionnaireViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Name</h1>

<div class="container">
    
    <div class="row">
        <h3 style="margin-bottom: 30px">Liczba pytań: @Model.Fields.Count.ToString()</h3>
    </div>
    

    @if (Model.Fields.Count > 0)
    {
        
            @foreach (var item in Model.Fields)
            {
                <div class="row">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">@item.Question</h4>
                            <small><a asp-action="RemoveQuestionFromQuestionnaire" asp-route-id="@item.QuestionId" class="btn btn-danger btn-sm" role="button" style="margin-top: 10px">Usuń pytanie</a></small>
                        </div>
                    </div>
                </div>
                <hr>
            }
        
    }


<div class="row" style="margin-top: 50px">
    <a href="#" id="addNewQuestion" class="btn btn-dark" style="margin-right: 20px">Nowe pytanie</a>
    <a asp-action="Index" class="btn btn-dark">Powrót</a>
</div>

    <div class="row">
        <div class="rounded" id="addNewQuestionDiv" style="display: none; margin-top: 30px; background-color: gainsboro; width: 420px; padding: 10px">
            <form asp-action="AddQuestionToQuestionnaire" method="post">
                <div class="form-group">
                    <input class="form-control" name="questionContent" id="newQuestionnaire" placeholder="Wpisz nowe pytanie" style="width: 400px">
                    <input class="form-control" name="questionnaireId" value=@Model.Id style="display: none">
                </div>
                <input type="submit" value="Dodaj" button class="btn btn-dark">
            </form>
        </div>
    </div>

</div>
