@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj na portalu TerapioMetr!</h1>
    <p>TerapioMetr powstał z myślą o nadzorowaniu terapii pacjenta, dzięki czemu
        lekarz prowadzący jest w stanie skutecznie oceniać efekty leczenia</p>
</div>
